<div class="col s9">
    <!-- Teal page content  -->
    <ul class="collection with-header">
        <li class="collection-header">
            <h4>{{" "+(quesActive+1)+".   "}}{{Questions[quesActive].detail}}</h4></li>
        <li class="collection-item" ng-show="Questions[quesActive].showImage"> <img ng-src="{{Questions[quesActive].imageURL}}"> </li>
        <li class="collection-item">
            <p ng-repeat="option in Questions[quesActive].options" class="{{'Q'+Questions[quesActive].quesNo}}">
                <input name="{{Questions[quesActive].quesNo}}" id="{{'Q'+Questions[quesActive].quesNo+'option'+$index}}" type="radio" class="with-gap {{'Q'+Questions[quesActive].quesNo}}" ng-click="markAnswer($index)" ng-checked="{{Questions[quesActive].responseStatus && Questions[quesActive].optionSelected == $index}}" />
                <label for="{{'Q'+Questions[quesActive].quesNo+'option'+$index}}">{{option.optionNo+". "+option.text}}</label>
            </p>
            <br>
            <button class="btn btn-outline btn-success" ng-disabled="!Questions[quesActive].responseStatus" ng-click="clearResponse()">Clear Response</button>
            <button class="btn btn-outline btn-success" ng-click="prevQues()">Prev Question</button>
            <button class="btn btn-outline btn-success" ng-click="nextQues()">Next Question</button>
            <button class="btn btn-outline btn-success" ng-click="continue()" data-toggle="tooltip" data-placement="bottom" title="Continue to next Unanswered Question">Continue..</button>
        </li>
    </ul>
</div>