<ul class="collapsible popout" data-collapsible="accordion">
    <li ng-repeat="section in sections">
        <div class="collapsible-header"><i class="material-icons" ng-click="changeSection($index)" id="{{activeSection.sectionTitle}}">filter_drama</i>{{section.sectionTitle}}<span class="new badge" data-badge-caption=" ">{{section.answered}}/{{section.sectionLength}}</span></div>
        <div class="collapsible-body">
            <h5 style="color:black;text-align:center;">Progress: {{section.answered}}/{{section.sectionLength}} </h5>
            <div class="row">
                <div class="col s12">
                    <div class="progress">
                        <div class="determinate" style="width: {{section.answered/section.sectionLength*100}}%;margin-top:0px;"></div>
                    </div>
                </div>
            </div>
            <h3 style="color:black;text-align:center;">Questions:</h3>
            <p>
                <input class="with-gap" type="radio" />
                <label for="test3"> : Answered</label>
                <input class="with-gap" type="radio" />
                <label for="test3"> : Not Answered</label>
            </p> <a class="btn-floating btn-small btn-outline ghost-btn" ng-repeat="question in section.questions" ng-class="{'teal accent-2': question.responseStatus, 'btn-danger': !question.responseStatus}"><span class="badge" ng-click="switchQues(question.quesNo)">{{question.quesNo}}</a>
            <br>
            <p>
                <input class="with-gap" type="radio" />
                <label for="test3"> : Answered</label>
                <input class="with-gap" type="radio" />
                <label for="test3"> : Not Answered</label>
            </p>
        </div>
    </li>
</ul>